extends layout


block content
    h1 about 
    p
        |Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa suscipit error quisquam doloremque ipsum autem aliquid ipsam provident debitis illo omnis cumque qui, ullam voluptatem voluptatum pariatur explicabo voluptates placeat?
    p
        |Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae amet, numquam eligendi adipisci consequatur minus, totam, suscipit ipsa quasi nulla architecto laborum fugit voluptate similique vitae mollitia qui fuga quaerat?    